:root {
  --fontTextPrimary: "Inter", sans-serif;
  --fontTextOther: "Headland One", serif;
  --fontTextInfo: "Hammersmith One", sans-serif;
  --colorTextPrimary: #ffffff;
  --colorTextQuotes: #000000;
  --colorTextCard: #141414;
  --colorTextName: #000000;
  --colorTextCardBg: #ffffff;
  --colorTextLink: #26c7ea;
  --colorTextBgLink: #0b0e66;
  --colorTextFirstQuote: #0a3853;
  --colorTextBlure: #2b4a61;
  --colorTextFirstLink: #26c6ea;
  --colorTextNavigation: #94cfff;
}
body {
  font-family: var(--fontTextPrimary);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2em;
  background-color: var(--colorTextBlure);
}
.container {
  max-width: 1062px;
  margin: 0 auto;
  padding: 0px 15px;
}
.header {
  background-color: #94cfff;
  background-image: linear-gradient(to right, rgba(43, 74, 97, 0.87)),
    url(../images/bg-header-and-footer.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  border-bottom: solid 3px var(--colorTextPrimary);
  text-align: center;
  box-shadow: 0px 4px 4px 0px #00000025;
}
.header-container {
  display: flex;
  justify-content: center;
  gap: 168px;
  align-items: center;
  position: relative;
}

.nav-list {
  display: flex;
  gap: 38px;
  align-items: center;
}
.hero-swiper:checked::before {
  left: 19px;
}
.nav-link {
  color: var(--colorTextPrimary);
  font-weight: 200;
}
.nav-link:hover {
  color: var(--colorTextLink);
  font-weight: 600;
}
.nav-link-enter {
  color: var(--colorTextFirstLink);
  font-family: var(--fontTextInfo);
  font-weight: 400;
  background-color: var(--colorTextBgLink);
  padding-left: 38px;
  padding-right: 38px;
  padding-top: 9px;
  padding-bottom: 7.69px;
  border: 2px solid var(--colorTextLink);
  border-radius: 45px 0px 45px 0px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px var(--colorTextFirstLink);
}
.nav-link-enter:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px var(--colorTextBgLink);
}
.nav-link-language {
  color: var(--colorTextPrimary);
  margin-right: 10px;
  position: relative;
}
.nav-link-language::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -0.25rem;
  right: 0;
  transition: right 0.4s, width 0.4s, left 0.4s;
}
.nav-link-language:hover::before {
  width: 100%;
  left: 0;
}
.nav-item-enter {
  display: flex;
  padding-left: 174px;
  padding-right: 11px;
}
.language-list {
  display: flex;
  gap: 10px;
  align-items: center;
  position: absolute;
  left: calc(100% + 50px);
  top: 50%;
  transform: translatey(-50%);
}
.hero {
  background-image: url(../images/bg-hero.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 180px;
  padding-bottom: 180px;
}
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-swiper {
  appearance: none;
  width: 36px;
  height: 20px;
  border: 1px solid var(--colorTextPrimary);
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.hero-swiper::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  background-color: var(--colorTextPrimary);
  border-radius: 50%;
  top: 3.5px;
  left: 3px;
  transition: left 0.35s ease-in;
}
.hero-item-apps {
  display: flex;
  justify-content: end;
  padding-bottom: 24px;
  align-items: start;
}
.hero-item-button {
  margin-top: 42px;
}
.hero-text {
  color: var(--colorTextPrimary);
  max-width: 266px;
  background-image: url(../images/arrow-white.webp);
  background-repeat: no-repeat;
  background-position: bottom, center;
  background-size: 152px 40px;
  padding-bottom: 40px;
}
.sub-hero-text {
  color: var(--colorTextPrimary);
  max-width: 353px;
  padding-bottom: 42px;
}
.hero-link-button {
  color: var(--colorTextFirstLink);
  font-size: 24px;
  font-family: var(--fontTextInfo);
  background-color: var(--colorTextBgLink);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 9px;
  padding-bottom: 7.69px;
  border: 2px solid var(--colorTextLink);
  border-radius: 45px 0px 45px 0px;
  max-width: 260px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
}
.hero-link-button:hover {
  transform: translate(5px, -5px);
}
.hero-link-button-eng {
  padding-left: 74px;
  padding-right: 75px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.hero-photo {
  cursor: pointer;
  width: 30px;
  height: 30px;
  fill: var(--colorTextPrimary);
}
.hero-photo:hover {
  fill: aqua;
}
.hero-photo-twitter {
  cursor: pointer;
  width: 34px;
  height: 30px;
  fill: var(--colorTextPrimary);
}
.hero-photo-twitter:hover {
  fill: lightskyblue;
}
.hero-photo-youtube {
  cursor: pointer;
  width: 50px;
  height: 30px;
  fill: var(--colorTextPrimary);
}
.hero-photo-youtube:hover {
  fill: red;
}
.quotes {
  background-color: var(--colorTextPrimary);
  background-image: url(../images/emojey.webp);
  background-repeat: no-repeat;
  background-position: bottom 8px center;
  background-size: 400px 120px;
  padding-top: 130px;
  padding-bottom: 130px;
}
.quotes-item {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.quotes-title {
  font-size: 36px;
  line-height: 1.22em;
  font-weight: 400;
  color: var(--colorTextCard), var(--colorTextQuotes);
  padding-bottom: 4px;
  display: flex;
}
.first-quotes {
  color: var(--colorTextFirstQuote);
  text-align: center;
  min-width: 1100px;
}
.first-quotes-ua {
  color: var(--colorTextFirstQuote);
  text-align: center;
  min-width: 724px;
}
.first-quotes-subtitle {
  color: var(--colorTextFirstQuote);
}
.first-quotes-text {
  color: var(--colorTextFirstQuote);
  padding-bottom: 8px;
  font-size: 24px;
  line-height: 1.21em;
}
.quotes-subtitle {
  font-size: 36px;
  line-height: 1.22em;
  font-weight: 400;
  padding-bottom: 16px;
}
.quotes-text {
  font-size: 24px;
  line-height: 1.21em;
  color: var(--colorTextQuotes);
  padding-bottom: 8px;
}
.trailer {
  background-color: #0a3853;
  background-image: url(../images/trailer-bg.webp);
  min-height: 741px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.trailer-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 330px;
}
.trailer-link {
  font-size: 24px;
  line-height: 1.25em;
  color: var(--colorTextLink);
  font-family: var(--fontTextInfo);
  background-color: var(--colorTextBgLink);
  padding-left: 19px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  border: 2px solid var(--colorTextLink);
  border-radius: 45px 0px 45px 0px;
  width: 260px;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s;
}
.trailer-link:hover {
  transform: translateY(-10px);
  box-shadow: 0 7px 0 -2px #1a7bae, 0 15px 0 -4px #0c3f6c,
    0 16px 10px -3px #39a2db;
}
.trailer-link:active {
  transition: all 0.2s;
  transform: translateY(-5px);
  box-shadow: 0 2px 0 -2px #1a7bae, 0 8px 0 -4px #0c3f6c,
    0 12px 10px -3px #39a2db;
}
.language-navi {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.25)),
    url(../images/language-bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 57px;
}
.language-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.language-navi-list {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  justify-content: center;
  row-gap: 24px;
}
.language-navi-item {
  flex-basis: calc((100% - 72px) / 3);
}
.language-navi-title-card {
  display: flex;
  justify-content: center;
}
.language-navi-card {
  background-color: rgb(255, 255, 255, 0.7);
  background-image: url(../images/rectangle-left.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 152px 40px;
  cursor: pointer;
  padding-bottom: 36px;
}
.language-navi-card:hover {
  box-shadow: 0px 0px 2px 1px black;
}
.language-navi-card-emojey {
  background-color: rgb(255, 255, 255, 25);
  background-image: url(../images/emojey.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 152px 40px;
  opacity: 0.7;
  cursor: pointer;
  padding-bottom: 36px;
}
.language-navi-card-arrow-right {
  background-color: rgb(255, 255, 255, 25);
  background-image: url(../images/rectangle-right.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 152px 40px;
  opacity: 0.7;
  cursor: pointer;
  padding-bottom: 36px;
}
.language-navi-title {
  font-size: 32px;
  line-height: 1.25em;
  font-weight: 400;
  font-family: var(--fontTextOther);
  padding-top: 58px;
  padding-bottom: 45px;
}
.language-navi-text {
  font-size: 24px;
  font-family: var(--fontTextOther);
  line-height: inherit;
  font-weight: 400;
  color: var(--colorTextQuotes);
  display: flex;
  justify-content: center;
  padding-top: 36px;
}
.language-navi-text2 {
  font-size: 24px;
  font-family: var(--fontTextOther);
  line-height: inherit;
  font-weight: 400;
  color: var(--colorTextCard), var(--colorTextQuotes);
  display: flex;
  justify-content: center;
  padding-top: 120px;
}
.footer {
  background-image: linear-gradient(to right, rgba(43, 74, 97, 0.87)),
    url(../images/bg-header-and-footer.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  padding-bottom: 35px;
  padding-top: 35px;
}
.footer-container {
  display: flex;
  align-items: center;
}
.footer-content {
  border-left: solid 2px var(--colorTextPrimary);
  padding-bottom: 111px;
  height: 223px;
}
.footer-logo {
  display: block;
  padding-right: 80px;
}
.footer-item {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.footer-text {
  color: var(--colorTextPrimary);
  padding-bottom: 16px;
  padding-left: 80px;
  font-size: 20px;
  padding-top: 80px;
}
.footer-link:hover {
  border-bottom: white solid 2px;
}
.footer-text2 {
  color: var(--colorTextPrimary);
  padding-bottom: 37px;
  padding-left: 80px;
  font-size: 20px;
}
.footer-policy {
  color: var(--colorTextPrimary);
  padding-left: 211px;
  font-size: 14px;
}
